body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
}

body input:required:valid,
body textarea:required:valid {
}


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.header-top {
    background-color: aliceblue;
    padding: 8px 0;
}

.fon {
    background-color: white;
    padding-top: 0px;
}

.text-start {
    width: 70%;
    font-family: Lato-Light;
    font-size: 5.5vw;
    color: #FFF;
    line-height: 91px;
    text-shadow: 0 2px 4px rgba(0,0,0,0.65);
    text-align: center;
    margin: 30px auto 30px;
}


.line-top {
    color: #000000;
    height: 3px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.line-bottom {
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
}

.line-footer {
    color: #000000;
    height: 3px;
    margin-top: 40px;
    margin-bottom: 0px;
}

.contact {
    width: 70%;
    font-family: Lato-Light;
    font-size: 5.5vw;
    font-style: italic;
    color: black;
    line-height: 91px;
    text-shadow: 0 2px 4px rgba(0,0,0,0.65);
    text-align: center;
    margin: 0px;
    margin-left: 150px;
}


.contacts {
    font-family: NautilusPompiliusRegular;
    font-size: 18px;
}

.contact-foot {
    font-family: NautilusPompiliusRegular;
    font-size: 25px;
}

.p-0 {
    padding-left: 0px;
    padding-right: 0px;
}

.p-footer {
    padding-left: 0px;
    padding-right: 30px;
}
