@{
    ViewBag.Title = "Contact";
}

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                theme: true,
                header: {
                    left: 'prev, next today',
                    center: 'title',
                    right: 'month, agendaWeek, agendaDay'
                },

                defaultView: 'month',
                editable: true,
                allDaySlot: false,
                selctable: true,
                slotMinutes: 15
            });
        });
    </script>
}

<div class="row">
    <div class="col-md-12">
        <div id="calendar"></div>
    </div>
</div>